# Example configurations required in .env file to execute the application

MONGO_HOST=mongodb+srv://<username>:<password>@d<host>/?retryWrites=true&w=majority
PORT=3000
DATABASE=interview
NODE_ENV=development
NOTIFICATION_TABLE=notifications
